<div class="container">
    <h1> Google Maps with AutoComplete Search </h1>

    <div class="form-group">
        <label>Enter address :</label>
        <input mat-input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
            placeholder="Search  Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
    <div>
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
        </agm-map>
    </div>

    <div class="footer">
        <h4>Address: {{address}}</h4>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
    </div>
</div>