<mat-card class="profile-card">
    <mat-card-header>
        <div class="profile-avatar">
            <img src="../../../../assets/images/profile-pic.jpg" alt="">
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="profile-name">
            <mat-card-title>Mohib Shaik</mat-card-title>
            <!-- <mat-card-subtitle>Angular Developer</mat-card-subtitle> -->
        </div>

        <div class="profile-info">
            <ul>
                <li><strong>E-mail address : </strong><span>{{data?.email}}</span></li>
                <li><strong>Phone number : </strong><span> {{data?.phone}}</span></li>
                <li><strong>Github Profile : </strong><a href="{{data?.githubUrl}}" target="_blank">
                        {{data?.githubUrl}}</a></li>
            </ul>

        </div>
    </mat-card-content>

</mat-card>